<template>
  <div>
    <h1>Garantia de Recursos de Patrimonio</h1>
    <v-form>
      <v-container grid-list-xl fluid>
        <v-layout wrap>
          <v-flex xs12 sm6 v-for="(infoBasic, index) in comBasicos" :key="index">
            <v-text-field
              disabled
              :label="Object.keys(infoBasic)[0]"
              v-model="Object.values(infoBasic)[0]">
            </v-text-field>
          </v-flex>
        </v-layout>
        <v-layout wrap>
          <v-flex x12 sm6 v-for="(infoOrdenante, index) in comOrdenantes" :key="index">
            <v-text-field v-if="infoOrdenante.tipoCampo == 'text'"
              :label="infoOrdenante.label"
              v-model="infoOrdenante.value">
            </v-text-field>
            <input type="date" v-else v-model="infoOrdenante.value">
          </v-flex>
        </v-layout>
      </v-container>
    </v-form>
  </div>
</template>
<script>
export default {
  name: 'garantia',
  data () {
    return {
      date: new Date().toISOString().substr(0, 10),
      modal: false,
      form: {},
      labels: ['N. Ordenante', 'NIT', 'Nombre del Ordenante', 'N. Garantía Banco', 'Fecha de Inicio', 'Fecha de Terminación', 'Banco Emisor', 'Valor Certificado'],
      ordenantes: [],
      response: {
        "_Response": true,
        "mensaje": "",
        "elementos": [
            {
              "mes": "julio",
              "nombreLote": "Norte",
              "corteA": "31/07/2019",
              "idLote": 3,
              "nroContrato": "694 de 2018",
              "idContrato": 10,
              "nitConcesionario": "901230636",
              "nombreConcesionario": "Sistema Integrado de Provisión de Flota SI2018 Norte S.A.S",
              "fechaSuscripcion": "2018-11-20T00:00:00",
              "valorUsd": 10000,
              "trm": 20000,
              "valorTotal": 200000000,
              "datosGenerales": [
              {
                "nroOrdenante": 1,
                "nit": "0",
                "nombreOrdenante": "vacio",
                "nroGarantia": "vacio",
                "fechaInicio": "1900-01-01T00:00:00",
                "fechaTerminacion": "1900-01-01T00:00:00",
                "bancoEmisor": "vacio",
                "valorCertificado": 0,
                "idEstado": 5,
                "modificaciones": [
                  {
                    "montoRevocado": 0,
                    "montoReducir": 0,
                    "nuevaFechaTerminacion": null,
                    "observacion": null
                  }
                ]
              }
            ]
          }
        ]
      }
    }
  },
  computed: {
    comBasicos () {
      const objetoBasico = this.response.elementos
      return objetoBasico.map(($item, $index) => {
        return [
          { "Informacion Mes de": $item.mes },
          { "Nombre del Patio": $item.nombreLote },
          { "Corte a": $item.corteA },
          { "Contrato No.": $item.nroContrato },
          { "Consecionario": $item.nombreConcesionario },
          { "Fecha Supscripcion": $item.fechaSuscripcion },
          { "Valor USD": Number($item.valorUsd).toLocaleString('CO') },
          { "TRM": Number($item.trm).toLocaleString('CO') },
          { "Valor Total": Number($item.valorTotal).toLocaleString('CO') }
        ]
      })[0]
    },
    comOrdenantes () {
      const objetoOrdenante = this.response.elementos[0].datosGenerales[0]
      let [x, ordenantes] = [0, []]
      for (const key in objetoOrdenante) {
        if (objetoOrdenante.hasOwnProperty(key)) {
          console.log(key)
          ordenantes.push(
            {
              label: this.labels[x],
              value: objetoOrdenante[key],
              name: key,
              tipoCampo: key == 'fechaInicio' || key == 'fechaTerminacion' ? 'date' : 'text'
            }
          )
          x++
        }
      }
      return ordenantes
    }
  }
}
</script>
