<template>
  <div class="container-upload">
    <input type="file" ref="carga">
    <label for="observacion">observacion</label>
    <textarea v-model="observacion" cols="50" rows="10"></textarea>
    <div class="container-buttons">
      <button @click="$refs.carga.click()" type="button">Seleccione Archivo</button>
      <button @click="uploadFiles($refs.carga.files[0])" type="button">Adjuntar</button>
      <!-- <button @click="$refs.carga.click()" type="button">Guardar Adjunto</button> -->
    </div>
  </div>
</template>
<script>
import {fechaActual} from '../assets/static/formats.js'

export default {
  name: 'upload-files',
  props: {
    idContrato: String | Number
  },
  data () {
    return {
      files: [],
      upload: [],
      observacion: ''
    }
  },
  methods: {
    uploadFiles($file) {
      this.files.push($file)
      this.upload.push(
        {
          name: $file.name,
          observacion: this.observacion,
          fecha: fechaActual
        }
      )
      this.observacion = ''
    }
  }
}
</script>
<style scoped>
  input[type=file] {
    display: none;
  }
  .container-upload {
    margin: auto;
    width: 350px;
  }

  .container-upload > button {
    height: 2.5em;
  }

  .container-buttons {
    margin: auto;
  }
</style>

