<template>
  <div id="app">
    <garantia></garantia>
    <!-- <upload-files></upload-files> -->
  </div>
</template>

<script>
import garantia from './views/Garantia.vue'

export default {
  name: 'app',
  components: {
    garantia
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
